.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo-img {
  height: 40px;
  width: 120px;
}

.hyperlinks {
  margin-left: 20px;
  font-weight: bold;
  color: #475569;
  text-decoration: none;
  list-style: none;
}
.nav-items {
  display: flex;
  flex-direction: row;
  margin-right: 50px;
}

.hyperlinks1 {
  background-color: #0b69ff;
  color: white;
  font-weight: bold;
  border-style: none;
  padding-left: 10px;
  list-style: none;
  padding-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}
